@import '../../assets/styles/variables';

.categories-breadcrumb {
  height: 20px;
  margin: 16px 0;
}

.items {
  margin-bottom: 64px;
  padding: 0 16px 16px;
  background-color: white;
  border-radius: 4px;
  .item-link {
    text-decoration: none;
    color: $dark_grey;
  }
}